* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Carnales;
  src: url(../fonts/Rumble\ Brave.otf);
}
body {
  min-height: 100vh;
  width: 100%;
}

.btnEmail{
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  color: white;
  letter-spacing: 1px;
  margin-top: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  transition: .3s ease-in-out;
}

.btnEmail:hover{
  transition: .3s ease-in-out;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.7) 0%, rgba(9, 9, 121, 0.7) 35%, rgba(0, 212, 255, 0.7) 100%);
}

.title-nav {
  font-family: Carnales !important;
  font-size: 23px;
}

.p-custom {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}

.img-custom {
  height: 500px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.548);
  transition: 0.3s ease-in-out;
}
.img-custom:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px black;
}

.marca-custom {
  height: 125px;
  transition: 0.3s ease-in-out;
}
.marca-custom:hover {
  transform: translateY(-3px);
}

@keyframes textShadowTitle {
  0% {
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.35);
  }
  25% {
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.35), 5px 5px 15px rgba(255, 255, 255, 0.35);
  }
  50% {
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.35), 5px 5px 25px rgba(255, 255, 255, 0.35);
  }
  75% {
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.35), 5px 5px 15px rgba(255, 255, 255, 0.35);
  }
  100% {
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.35);
  }
}
.fondoprincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px black;
}
.fondoprincipal .fondo_texto {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60%;
  background-color: black;
  height: 92vh;
}
.fondoprincipal .fondo_texto .principal_title {
  position: absolute;
  top: 30vh;
  font-family: Carnales;
  font-size: 90px;
  color: white;
  z-index: 1000;
  animation: 5s textShadowTitle linear infinite;
  letter-spacing: 3px;
  transition: 0.3s ease-in-out;
  text-align: center;
}
.fondoprincipal .fondo_texto h2 {
  position: absolute;
  top: 46vh;
  font-family: Carnales;
  font-size: 43px;
  color: rgb(37, 140, 203);
  z-index: 1000;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}
.fondoprincipal .fondo_texto img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fondoprincipal .fondo_texto::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.8);
}
.fondoprincipal .conteiner_imgprincipal {
  position: relative;
  width: 40%;
  height: 92vh;
}
.fondoprincipal .conteiner_imgprincipal img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fondoprincipal .conteiner_imgprincipal .icon_right {
  position: absolute;
  top: 40vh;
  right: 0;
  font-size: 60px;
  color: rgb(37, 140, 203);
  transition: 0.3s ease-in-out;
}
.fondoprincipal .conteiner_imgprincipal .icon_right:hover {
  color: rgb(255, 255, 255);
}
.fondoprincipal .conteiner_imgprincipal .icon_left {
  position: absolute;
  top: 40vh;
  left: 0;
  font-size: 60px;
  color: rgb(37, 140, 203);
  transition: 0.3s ease-in-out;
}
.fondoprincipal .conteiner_imgprincipal .icon_left:hover {
  color: rgb(255, 255, 255);
}

.scenes {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  gap: 40px;
}
.scenes .scene {
  position: relative;
  height: 50%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.scenes .scene .nosotros {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  gap: 15px;
}
.scenes .scene .nosotros .quienes_somos {
  font-size: 40px;
  font-weight: 600;
  font-family: Carnales;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.scenes .scene .nosotros .quienes_somos .anexo {
  color: rgb(37, 140, 203);
  text-transform: uppercase;
}
.scenes .scene .nosotros .somos {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 30px;
}

.servicios {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100%;
}
.servicios .title-section {
  font-family: Carnales !important;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 1px;
  letter-spacing: 1px;
}
.servicios .num_categorias {
  display: none;
  visibility: hidden;
}
.servicios .categoria_servicios {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.servicios .categoria_servicios .servicio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(37, 140, 203, 0.75);
  border-radius: 15px;
  height: 400px;
  width: 300px;
  overflow: hidden;
  margin-top: 20px;
  transition: 0.3s;
}
.servicios .categoria_servicios .servicio img {
  position: absolute;
  top: 0;
  height: 86%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.servicios .categoria_servicios .servicio span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 14%;
  width: 100%;
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
.servicios .categoria_servicios .servicio:hover {
  transition: 0.3s;
  border: 1px solid rgba(64, 65, 152, 0.6);
  box-shadow: 3px 3px 10px black, -3px -3px 10px black;
}
.servicios .categoria_servicios .servicio:hover img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.servicios .categoria_servicios .servicio:hover span {
  display: none;
  transition: 0.3s;
}
.servicios .categoria_servicios2 {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.servicios .categoria_servicios2 .servicio2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(37, 140, 203, 0.75);
  border-radius: 15px;
  height: 400px;
  width: 300px;
  overflow: hidden;
  margin-top: 20px;
  transition: 0.3s;
}
.servicios .categoria_servicios2 .servicio2 img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.servicios .categoria_servicios2 .servicio2:hover {
  transition: 0.3s;
  border: 1px solid rgba(64, 65, 152, 0.6);
  box-shadow: 3px 3px 10px black, -3px -3px 10px black;
}
.servicios .categoria_servicios2 .servicio2:hover img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacto2 {
  position: fixed;
  bottom: 30px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.contacto2 .contenedor {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: rgb(0, 0, 0);
  border: 1px solid rgba(37, 140, 203, 0.3);
  box-shadow: 3px 3px 10px rgb(255, 255, 255), -3px -3px 10px rgrgb(255, 255, 255);
  height: 350px;
  width: 50px;
  transition: 0.5s;
  border-radius: 30px;
}
.contacto2 .contenedor.active {
  transition: 0.5s;
  height: 130px;
  width: 50px;
}
.contacto2 .contenedor.active2 {
  transition: 0.5s;
  flex-direction: row;
  width: 350px;
  justify-content: center;
  gap: 50px;
}
.contacto2 .contenedor .qr2 img {
  transition: 0.5s;
  width: 0px;
  visibility: hidden;
  opacity: 0;
}
.contacto2 .contenedor .qr2.active2 img {
  transition: 0.5s;
  width: 200px;
  visibility: visible;
  opacity: 1;
}
.contacto2 .contenedor .botones {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: -30px;
  gap: 28px;
}
.contacto2 .contenedor .botones a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.contacto2 .contenedor .botones a span {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  transform: rotate(0deg);
}
.contacto2 .contenedor .botones .btn {
  position: relative;
  font-size: 25px;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.contacto2 .contenedor .botones .btn:hover {
  transform: translateY(-3px);
}
.contacto2 .contenedor .botones.active {
  transition: 0.5s;
}
.contacto2 .contenedor .botones.active :nth-child(3) {
  opacity: 0;
  visibility: hidden;
}
.contacto2 .contenedor .botones.active :nth-child(4) {
  opacity: 0;
  visibility: hidden;
}
.contacto2 .contenedor .botones.active :nth-child(5) {
  opacity: 0;
  visibility: hidden;
}
.contacto2 .contenedor .botones.active :nth-child(6) {
  opacity: 0;
  visibility: hidden;
}

.contacto_footer {
  position: relative;
  background-color: rgb(0, 0, 0);
  box-shadow: 2px 2px 20px rgb(37, 140, 203);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 475px;
  width: 100%;
  z-index: 1000;
  margin-top: 50px;
}
.contacto_footer .preferencia {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 10px;
  padding: 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.425);
}
.contacto_footer .preferencia .gracias {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-family: Carnales !important;
  font-weight: 600;
  padding-bottom: 1px;
  letter-spacing: 1px;
}
.contacto_footer .preferencia span {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.contacto_footer .preferencia a {
  text-decoration: none;
}
.contacto_footer .preferencia a .cotiza_ahora2 {
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  transition: 0.3s ease-in-out;
}
.contacto_footer .preferencia a .cotiza_ahora2 span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 2px;
}
.contacto_footer .preferencia a .cotiza_ahora2:hover {
  transition: 0.3s ease-in-out;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.7) 0%, rgba(9, 9, 121, 0.7) 35%, rgba(0, 212, 255, 0.7) 100%);
}
.contacto_footer .preferencia .datoscontacto2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.contacto_footer .preferencia .datoscontacto2 ion-icon {
  font-size: 28px;
  color: rgb(37, 140, 203);
  background-color: transparent;
  padding: 7px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.contacto_footer .preferencia .datoscontacto2 ion-icon:hover {
  color: rgb(0, 212, 255);
  transform: translateY(-3px);
}
.contacto_footer .preferencia .numeros_telefono {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  margin-top: 10px;
}
.contacto_footer .preferencia .numeros_telefono .datoscontacto2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-top: 0px;
}
.contacto_footer .preferencia .numeros_telefono .datoscontacto2 a {
  text-decoration: none;
}
.contacto_footer .preferencia .numeros_telefono .datoscontacto2 a span {
  color: white;
  font-size: 18px;
  font-family: "Montserrat";
}
.contacto_footer .preferencia .numeros_telefono .datoscontacto2 a span:hover {
  color: rgb(37, 140, 203);
}
.contacto_footer .preferencia .credito {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-family: "Montserrat";
}
.contacto_footer .ubicacion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 20px;
  background-image: url(../images/fondo.png);
}
.contacto_footer .ubicacion::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.contacto_footer .ubicacion iframe {
  border-radius: 20px;
  border: 1px solid white;
  width: 650px;
  height: 325px;
  box-shadow: 5px 5px 15px rgb(255, 255, 255);
  z-index: 1000;
}
.contacto_footer .ubicacion a {
  list-style-type: none;
  text-decoration: none;
  z-index: 1000;
}
.contacto_footer .ubicacion a span {
  color: rgb(37, 140, 203);
  font-weight: 400;
  font-size: 15px;
  font-family: "Montserrat";
}

@media screen and (max-width: 960px) {
  .fondoprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .fondoprincipal .fondo_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    background-color: black;
    height: 300px;
    z-index: 1000;
  }
  .fondoprincipal .fondo_texto .multiservicios {
    position: absolute;
    top: 20vh;
    font-weight: 300;
    font-size: 10px;
    color: white;
    z-index: 1000;
    letter-spacing: 1px;
    text-shadow: 5px 5px 10px white;
  }
  .fondoprincipal .fondo_texto .principal_title {
    position: absolute;
    top: 20vh;
    font-size: 28px;
    color: white;
    z-index: 1000;
    animation: 5s textShadowTitle linear infinite;
    letter-spacing: 3px;
    transition: 0.3s ease-in-out;
  }
  .fondoprincipal .fondo_texto h2 {
    position: absolute;
    top: 35vh;
    font-size: 30px;
    color: rgb(37, 140, 203);
    z-index: 1000;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
  }
  .fondoprincipal .fondo_texto img {
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fondoprincipal .fondo_texto::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.8);
  }
  .fondoprincipal .conteiner_imgprincipal {
    position: relative;
    width: 100%;
    height: 375px;
    z-index: 1000;
  }
  .fondoprincipal .conteiner_imgprincipal img {
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fondoprincipal .conteiner_imgprincipal .icon_right {
    position: absolute;
    top: 150px;
    right: 0;
    font-size: 60px;
    transition: 0.3s ease-in-out;
  }
  .fondoprincipal .conteiner_imgprincipal .icon_left {
    position: absolute;
    top: 150px;
    left: 0;
    font-size: 60px;
    transition: 0.3s ease-in-out;
  }
  .scenes {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    gap: 90px;
  }
  .scenes .scene {
    position: relative;
    height: 50%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .scenes .scene .nosotros {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
  }
  .scenes .scene .nosotros .quienes_somos {
    font-size: 24px;
    font-weight: 600;
    font-family: Carnales;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .scenes .scene .nosotros .somos {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .scenes .scene .nosotros .imagenesgif {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scenes .scene .nosotros .imagenesgif .logo_img {
    margin-top: 40px;
    height: 250px;
    transition: 0.3s ease-in-out;
  }
  .scenes .scene .nosotros .imagenesgif .logo_img:hover {
    transform: translateY(-3px);
  }
  .scenes .scene .nosotros .imagenesgif .gif {
    margin-top: 25px;
    height: 250px;
    transition: 0.3s ease-in-out;
  }
  .servicios {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100%;
  }
  .servicios .title-section {
    font-family: Carnales !important;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 1px;
  }
  .servicios .categoria_servicios {
    position: relative;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  .servicios .categoria_servicios .servicio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    height: 330px;
    width: 280px;
    overflow: hidden;
    margin-top: 20px;
    transition: 0.3s;
  }
  .servicios .categoria_servicios .servicio img {
    position: absolute;
    top: 0;
    height: 86%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.3s;
  }
  .servicios .categoria_servicios .servicio span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 14%;
    width: 100%;
    font-family: "Montserrat";
    font-size: 16px;
    text-align: center;
    transition: 0.3s;
  }
  .servicios .categoria_servicios .servicio:hover {
    transition: 0.3s;
    box-shadow: 3px 3px 10px black, -3px -3px 10px black;
  }
  .servicios .categoria_servicios .servicio:hover img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .servicios .categoria_servicios .servicio:hover span {
    display: none;
    transition: 0.3s;
  }
  .contacto2 {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .contacto_footer {
    position: relative;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 20px rgb(37, 140, 203);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 425px;
    width: 100%;
    z-index: 1000;
    margin-top: 50px;
  }
  .contacto_footer .preferencia {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 5px;
    padding: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.425);
  }
  .contacto_footer .preferencia .gracias {
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-family: "Bruno Ace", sans-serif;
    font-weight: 600;
    padding-bottom: 1px;
    letter-spacing: 1px;
  }
  .contacto_footer .preferencia span {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .contacto_footer .preferencia .cotiza_ahora2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
    transition: 0.3s ease-in-out;
  }
  .contacto_footer .preferencia .cotiza_ahora2 a {
    text-decoration: none;
  }
  .contacto_footer .preferencia .cotiza_ahora2 a div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 50px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
    border-radius: 10px;
    text-align: center;
    gap: 10px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.678);
    transition: 0.3s ease-in-out;
  }
  .contacto_footer .preferencia .cotiza_ahora2 a div img {
    height: 30px;
    border-radius: 50%;
  }
  .contacto_footer .preferencia .cotiza_ahora2 a div span {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 2px;
  }
  .contacto_footer .preferencia .cotiza_ahora2 a div:hover {
    transition: 0.3s ease-in-out;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.7) 0%, rgba(9, 9, 121, 0.7) 35%, rgba(0, 212, 255, 0.7) 100%);
  }
  .contacto_footer .preferencia .datoscontacto2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
  }
  .contacto_footer .preferencia .datoscontacto2 ion-icon {
    font-size: 28px;
    color: rgb(37, 140, 203);
    background-color: transparent;
    padding: 7px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
  }
  .contacto_footer .preferencia .datoscontacto2 ion-icon:hover {
    color: rgb(0, 212, 255);
    transform: translateY(-3px);
  }
  .contacto_footer .preferencia .numeros_telefono {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    margin-top: 0px;
  }
  .contacto_footer .preferencia .numeros_telefono .datoscontacto2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: 0px;
  }
  .contacto_footer .preferencia .numeros_telefono .datoscontacto2 a {
    text-decoration: none;
  }
  .contacto_footer .preferencia .numeros_telefono .datoscontacto2 a span {
    color: white;
    font-size: 14px;
    font-family: "Montserrat";
  }
  .contacto_footer .preferencia .numeros_telefono .datoscontacto2 a span:hover {
    color: rgb(37, 140, 203);
  }
  .contacto_footer .preferencia .credito {
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: "Montserrat";
    margin-top: 10px;
  }
  .contacto_footer .ubicacion {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 20px;
    background-image: url(../images/fondo.png);
  }
  .contacto_footer .ubicacion::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  .contacto_footer .ubicacion iframe {
    border-radius: 20px;
    border: 1px solid white;
    width: 300px;
    height: 325px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
    z-index: 1000;
  }
  .contacto_footer .ubicacion a {
    list-style-type: none;
    text-decoration: none;
    z-index: 1000;
  }
  .contacto_footer .ubicacion a span {
    color: rgb(37, 140, 203);
    font-weight: 400;
    font-size: 13px;
    font-family: "Montserrat";
  }
}
@media screen and (max-width: 480px) {
  .fondoprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }
  .fondoprincipal .fondo_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    background-color: black;
    height: 90vh;
    z-index: 0;
    text-align: center;
    box-shadow: 5px 5px 15px black;
  }
  .fondoprincipal .fondo_texto .principal_title {
    position: absolute;
    top: 35vh;
    font-size: 50px;
    font-weight: 600;
    color: white;
    z-index: 1000;
    animation: 5s textShadowTitle linear infinite;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
  }
  .fondoprincipal .fondo_texto h2 {
    position: absolute;
    top: 45vh;
    font-size: 29px;
    z-index: 1000;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
  }
  .fondoprincipal .fondo_texto img {
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fondoprincipal .fondo_texto::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .fondoprincipal .conteiner_imgprincipal {
    position: relative;
    width: 100%;
    height: 600px;
    z-index: 0;
  }
  .fondoprincipal .conteiner_imgprincipal img {
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fondoprincipal .conteiner_imgprincipal .icon_right {
    position: absolute;
    top: 250px;
    right: 0;
    font-size: 60px;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
  }
  .fondoprincipal .conteiner_imgprincipal .icon_left {
    position: absolute;
    top: 250px;
    left: 0;
    font-size: 60px;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
  }
  .scenes {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    gap: 40px;
  }
  .scenes .scene {
    position: relative;
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .scenes .scene .nosotros {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
  }
  .scenes .scene .nosotros .quienes_somos {
    font-size: 35px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .scenes .scene .nosotros .somos {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .scenes .scene .nosotros .imagenesgif {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scenes .scene .nosotros .imagenesgif .logo_img {
    margin-top: 60px;
    margin-bottom: 0px;
    height: 200px;
    transition: 0.3s ease-in-out;
  }
  .scenes .scene .nosotros .imagenesgif .logo_img:hover {
    transform: translateY(-3px);
  }
  .scenes .scene .nosotros .imagenesgif .gif {
    margin-top: 40px;
    height: 250px;
    transition: 0.3s ease-in-out;
  }
  .servicios {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100%;
  }
  .servicios .title-section {
    font-family: Carnales !important;
    font-size: 38px;
    font-weight: 600;
    padding-bottom: 1px;
  }
  .servicios .categoria_servicios {
    position: relative;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  .servicios .categoria_servicios .servicio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    height: 400px;
    width: 90vw;
    overflow: hidden;
    margin-top: 20px;
    transition: 0.3s;
  }
  .servicios .categoria_servicios .servicio img {
    position: absolute;
    top: 0;
    height: 86%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.3s;
  }
  .servicios .categoria_servicios .servicio span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 14%;
    width: 100%;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    transition: 0.3s;
    letter-spacing: 1px;
  }
  .servicios .categoria_servicios .servicio:hover {
    transition: 0.3s;
    border: 1px solid rgb(64, 65, 152);
    box-shadow: 3px 3px 10px black, -3px -3px 10px black;
  }
  .servicios .categoria_servicios .servicio:hover img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .servicios .categoria_servicios .servicio:hover span {
    display: none;
    transition: 0.3s;
  }
  .contacto2 {
    bottom: 5px;
    z-index: 100;
  }
  .contacto2 .contenedor.active2 {
    width: 385px;
  }
  .contacto_footer {
    justify-content: center;
    flex-direction: column;
    height: 1050px;
    width: 100%;
    margin-top: 50px;
    gap: 0px;
    z-index: 1000;
    box-shadow: 5px 5px 15px black, -5px -5px 15px black;
  }
  .contacto_footer .preferencia {
    flex-direction: column;
    width: 100%;
    margin-top: -30px;
    gap: 10px;
  }
  .contacto_footer .preferencia .gracias {
    font-size: 26px;
  }
  .contacto_footer .preferencia span {
    font-size: 15px;
  }
  .contacto_footer .preferencia .cotiza_ahora2 a div {
    padding: 10px 60px;
  }
  .contacto_footer .preferencia .datoscontacto2 ion-icon {
    font-size: 32px;
  }
  .contacto_footer .preferencia .numeros_telefono .datoscontacto2 a span {
    font-size: 17px;
  }
  .contacto_footer .preferencia .credito {
    font-size: 15px;
  }
  .contacto_footer .ubicacion {
    width: 100%;
    margin-right: 0;
    margin-top: -40px;
  }
  .contacto_footer .ubicacion iframe {
    width: 95vw;
    height: 500px;
  }
  .contacto_footer .ubicacion a span {
    font-size: 12px;
    margin-bottom: 10px;
  }

 
}/*# sourceMappingURL=style.css.map */